REACT_APP_CANDY_MACHINE_ID=GVGGcCVmohfNQNDWFUe21S6c7GKU4PBWw9xt2XRUcNSY

REACT_APP_SOLANA_NETWORK=devnet
REACT_APP_SOLANA_RPC_HOST=https://solana-devnet.g.alchemy.com/v2/AsdsDB4X0gCAHE5rKvl1vnN4p6ZTWc_O
SKIP_PREFLIGHT_CHECK=true
